# Phase 1/3: Team Assignment

## Step 0: Import Packages

In [6]:
# Import essential libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, GRU
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import matplotlib.pyplot as plt
import joblib
import kfp
from kfp import dsl
import h5py

In [7]:
def load_data():
    with h5py.File(r'C:\foai\94879-starter-code-Team-Project\metr-la.h5', 'r') as f:
        df_group = f['df']
        
        # Load the column names (features) from 'block0_items'
        columns = list(df_group['block0_items'][:].astype(str))
        
        # Load the actual data from 'block0_values'
        data = df_group['block0_values'][:]
        
        # Convert the data into a DataFrame
        df = pd.DataFrame(data, columns=columns)
        
        return df

# Load the data and inspect the first few rows
df = load_data()
print("Data shape:", df.shape)

Data shape: (34272, 207)

In [ ]:
conda install Flask==2.0.1 
conda install Werkzeug==2.0.1 
conda install tensorflow==2.6.0 
conda install numpy==1.19.5 
conda install scikit-learn==0.24.2 
conda install joblib==1.0.1
pip install mlflow==1.20.2 
conda install pandas==1.3.3 
pip install protobuf==3.18.0

## Step 1: Import Data

In [11]:
# Load and inspect the contents of the 'df' group
def load_data():
    with h5py.File(r'C:\foai\94879-starter-code-Team-Project\metr-la.h5', 'r') as f:
        df_group = f['df']
        
        # List all keys within the 'df' group
        print("Keys inside 'df' group:", list(df_group.keys()))
        
        # You can then load individual datasets once you know the keys
        # For example, if a key 'data' exists:
        if 'data' in df_group:
            data = df_group['data'][:]
            print("Loaded data shape:", data.shape)
        return df_group

# Inspect the 'df' group
df_group = load_data()

Keys inside 'df' group: ['axis0', 'axis1', 'block0_items', 'block0_values']

In [12]:
# Load and reconstruct the DataFrame from the 'df' group
def load_data():
    with h5py.File(r'C:\foai\94879-starter-code-Team-Project\metr-la.h5', 'r') as f:
        df_group = f['df']
        
        # Load the column names (features) from 'block0_items'
        columns = list(df_group['block0_items'][:].astype(str))
        
        # Load the actual data from 'block0_values'
        data = df_group['block0_values'][:]
        
        # Convert the data into a DataFrame
        df = pd.DataFrame(data, columns=columns)
        
        return df

# Load the data and inspect the first few rows
df = load_data()
print("Data shape:", df.shape)

Data shape: (34272, 207)

In [13]:
df.head(10)

,773869,767541,767542,717447,717446,717445,773062,767620,737529,717816,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
0,64.375000,67.625000,67.125000,61.500000,66.875000,68.750000,65.125000,67.125000,59.625000,62.750000,...,45.625000,65.500,64.500000,66.428571,66.875,59.375000,69.000000,59.250000,69.000000,61.875000
1,62.666667,68.555556,65.444444,62.444444,64.444444,68.111111,65.000000,65.000000,57.444444,63.333333,...,50.666667,69.875,66.666667,58.555556,62.000,61.111111,64.444444,55.888889,68.444444,62.875000
2,64.000000,63.750000,60.000000,59.000000,66.500000,66.250000,64.500000,64.250000,63.875000,65.375000,...,44.125000,69.000,56.500000,59.250000,68.125,62.500000,65.625000,61.375000,69.857143,62.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
5,57.333333,69.000000,67.666667,61.666667,67.333333,69.000000,60.666667,67.333333,63.000000,63.333333,...,42.000000,70.000,68.333333,57.333333,66.000,54.666667,64.666667,57.666667,69.000000,57.333333
6,66.500000,63.875000,67.875000,62.375000,64.375000,67.750000,65.125000,64.875000,56.250000,63.000000,...,41.250000,69.375,59.500000,44.625000,64.250,62.625000,65.500000,51.000000,69.375000,61.250000
7,63.625000,67.250000,63.250000,60.500000,57.375000,65.500000,64.625000,65.500000,60.375000,66.625000,...,52.000000,65.875,59.750000,64.125000,66.125,62.375000,67.500000,52.000000,68.625000,59.375000
8,68.750000,65.250000,63.500000,63.000000,65.125000,68.000000,65.125000,63.750000,62.625000,66.750000,...,52.500000,68.375,61.250000,64.375000,66.500,66.250000,64.375000,48.625000,67.625000,61.750000
9,63.500000,61.500000,62.500000,58.125000,66.625000,64.250000,64.875000,66.500000,53.250000,60.750000,...,41.375000,69.250,62.625000,58.875000,61.125,64.250000,66.125000,50.750000,66.250000,62.250000

In [14]:
import h5py

# File path to the HDF5 data
file_path = r'C:\foai\94879-starter-code-Team-Project\metr-la.h5'

# Load the data using h5py and inspect each key
with h5py.File(file_path, 'r') as file:
    df_group = file['df']
    
    # Inspecting 'axis0'
    axis0_data = df_group['axis0'][:]
    print("axis0 data (row indices):", axis0_data)

    # Inspecting 'axis1'
    axis1_data = df_group['axis1'][:]
    print("axis1 data (column indices):", axis1_data)

    # Inspecting 'block0_items' (column labels)
    block0_items = df_group['block0_items'][:].astype(str)
    print("block0_items (column labels):", block0_items)

    # Inspecting 'block0_values' (data values)
    block0_values = df_group['block0_values'][:]
    print("block0_values shape:", block0_values.shape)
    print("Sample data from block0_values:", block0_values[:5])

axis0 data (row indices): [b'773869' b'767541' b'767542' b'717447' b'717446' b'717445' b'773062'
 b'767620' b'737529' b'717816' b'765604' b'767471' b'716339' b'773906'
 b'765273' b'716331' b'771667' b'716337' b'769953' b'769402' b'769403'
 b'769819' b'769405' b'716941' b'717578' b'716960' b'717804' b'767572'
 b'767573' b'773012' b'773013' b'764424' b'769388' b'716328' b'717819'
 b'769941' b'760987' b'718204' b'718045' b'769418' b'768066' b'772140'
 b'773927' b'760024' b'774012' b'774011' b'767609' b'769359' b'760650'
 b'716956' b'769831' b'761604' b'717495' b'716554' b'773953' b'767470'
 b'716955' b'764949' b'773954' b'767366' b'769444' b'773939' b'774067'
 b'769443' b'767750' b'767751' b'767610' b'773880' b'764766' b'717497'
 b'717490' b'717491' b'717492' b'717493' b'765176' b'717498' b'717499'
 b'765171' b'718064' b'718066' b'765164' b'769431' b'769430' b'717610'
 b'767053' b'767621' b'772596' b'772597' b'767350' b'767351' b'716571'
 b'773023' b'767585' b'773024' b'717483' b'718379' b'717481' b'717480'
 b'717486' b'764120' b'772151' b'718371' b'717489' b'717488' b'717818'
 b'718076' b'718072' b'767455' b'767454' b'761599' b'717099' b'773916'
 b'716968' b'769467' b'717576' b'717573' b'717572' b'717571' b'717570'
 b'764760' b'718089' b'769847' b'717608' b'767523' b'716942' b'718090'
 b'769867' b'717472' b'717473' b'759591' b'764781' b'765099' b'762329'
 b'716953' b'716951' b'767509' b'765182' b'769358' b'772513' b'716958'
 b'718496' b'769346' b'773904' b'718499' b'764853' b'761003' b'717502'
 b'759602' b'717504' b'763995' b'717508' b'765265' b'773996' b'773995'
 b'717469' b'717468' b'764106' b'717465' b'764794' b'717466' b'717461'
 b'717460' b'717463' b'717462' b'769345' b'716943' b'772669' b'717582'
 b'717583' b'717580' b'716949' b'717587' b'772178' b'717585' b'716939'
 b'768469' b'764101' b'767554' b'773975' b'773974' b'717510' b'717513'
 b'717825' b'767495' b'767494' b'717821' b'717823' b'717458' b'717459'
 b'769926' b'764858' b'717450' b'717452' b'717453' b'759772' b'717456'
 b'771673' b'772167' b'769372' b'774204' b'769806' b'717590' b'717592'
 b'717595' b'772168' b'718141' b'769373']
axis1 data (column indices): [1330560000000000000 1330560300000000000 1330560600000000000 ...
 1340840700000000000 1340841000000000000 1340841300000000000]
block0_items (column labels): ['773869' '767541' '767542' '717447' '717446' '717445' '773062' '767620'
 '737529' '717816' '765604' '767471' '716339' '773906' '765273' '716331'
 '771667' '716337' '769953' '769402' '769403' '769819' '769405' '716941'
 '717578' '716960' '717804' '767572' '767573' '773012' '773013' '764424'
 '769388' '716328' '717819' '769941' '760987' '718204' '718045' '769418'
 '768066' '772140' '773927' '760024' '774012' '774011' '767609' '769359'
 '760650' '716956' '769831' '761604' '717495' '716554' '773953' '767470'
 '716955' '764949' '773954' '767366' '769444' '773939' '774067' '769443'
 '767750' '767751' '767610' '773880' '764766' '717497' '717490' '717491'
 '717492' '717493' '765176' '717498' '717499' '765171' '718064' '718066'
 '765164' '769431' '769430' '717610' '767053' '767621' '772596' '772597'
 '767350' '767351' '716571' '773023' '767585' '773024' '717483' '718379'
 '717481' '717480' '717486' '764120' '772151' '718371' '717489' '717488'
 '717818' '718076' '718072' '767455' '767454' '761599' '717099' '773916'
 '716968' '769467' '717576' '717573' '717572' '717571' '717570' '764760'
 '718089' '769847' '717608' '767523' '716942' '718090' '769867' '717472'
 '717473' '759591' '764781' '765099' '762329' '716953' '716951' '767509'
 '765182' '769358' '772513' '716958' '718496' '769346' '773904' '718499'
 '764853' '761003' '717502' '759602' '717504' '763995' '717508' '765265'
 '773996' '773995' '717469' '717468' '764106' '717465' '764794' '717466'
 '717461' '717460' '717463' '717462' '769345' '716943' '772669' '717582'
 '717583' '717580' '716949' '717587' '772178' '717585' '716939' '768469'
 '764101' '767554' '773975' '773974' '717510' '717513' '717825' '767495'
 '767494' '717821' '717823' '717458' '717459' '769926' '764858' '717450'
 '717452' '717453' '759772' '717456' '771673' '772167' '769372' '774204'
 '769806' '717590' '717592' '717595' '772168' '718141' '769373']
block0_values shape: (34272, 207)
Sample data from block0_values: [[64.375      67.625      67.125      ... 59.25       69.
  61.875     ]
 [62.66666667 68.55555556 65.44444444 ... 55.88888889 68.44444444
  62.875     ]
 [64.         63.75       60.         ... 61.375      69.85714286
  62.        ]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]]

### Step 1.1: Checking for Null Values

In [93]:
print("Checking for missing values...")
print(df.isnull().sum())

Checking for missing values...
773869    0
767541    0
767542    0
717447    0
717446    0
         ..
717592    0
717595    0
772168    0
718141    0
769373    0
Length: 207, dtype: int64

### Step 1.2: Checking df Stats

In [94]:
print("\nStatistical summary:")
df.describe()

Statistical summary:

,773869,767541,767542,717447,717446,717445,773062,767620,737529,717816,...,772167,769372,774204,769806,717590,717592,717595,772168,718141,769373
count,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,...,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000
mean,54.631359,60.452789,60.726120,49.524287,46.079798,50.952003,54.471684,57.255095,56.068044,52.871841,...,37.803342,58.156679,51.217523,59.795754,59.329923,56.915083,62.484679,54.697381,58.920210,51.197504
std,22.619199,15.970239,18.313353,15.843261,19.350345,16.681760,17.984761,18.751065,18.240361,23.343805,...,13.525743,20.690411,22.224997,16.126225,19.849950,18.260438,16.959238,16.303651,19.080474,21.239354
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,60.364583,63.000000,65.444444,50.333333,34.666667,49.555556,55.750000,61.000000,58.222222,43.428571,...,30.444444,64.111111,53.444444,61.714286,63.666667,60.222222,65.888889,50.125000,62.888889,54.125000
50%,64.888889,65.000000,67.375000,53.875000,46.000000,56.111111,62.111111,63.333333,62.444444,65.875000,...,43.222222,67.111111,61.777778,64.875000,66.777778,63.000000,67.625000,61.125000,66.125000,62.000000
75%,66.875000,66.375000,68.444444,58.125000,64.500000,60.333333,65.000000,65.000000,64.888889,67.625000,...,46.625000,68.444444,64.375000,66.500000,68.250000,64.750000,68.625000,64.444444,67.750000,63.444444
max,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,...,65.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000

## Step 2: Data Preprocessing

### Step 2.1: Feature Engineering (BEFORE THE PROCESSING)

In [95]:
# Feature Engineering (optimized to avoid fragmentation)
def feature_engineering(df):
    # Compute rolling mean and std for each sensor at once using apply
    rolling_means = df.rolling(window=3).mean().add_suffix('_rolling_mean')
    rolling_stds = df.rolling(window=3).std().add_suffix('_rolling_std')

    # Combine the original dataframe with the new rolling features
    df_combined = pd.concat([df, rolling_means, rolling_stds], axis=1)

    # Drop NaN values that were introduced by the rolling window
    df_combined = df_combined.dropna()

    return df_combined

# Apply feature engineering
df = feature_engineering(df)

# Check the updated dataframe
print(f"Data shape after feature engineering: {df.shape}")

Data shape after feature engineering: (34270, 621)

### Step 2.2: Using MinMaxScaler to Preprocess Data

In [96]:
def preprocess_data(data):
    scaler = MinMaxScaler()
    data_scaled = scaler.fit_transform(data)
    return data_scaled, scaler

In [97]:
# Apply preprocessing to the entire feature-engineered dataset
data_scaled, scaler = preprocess_data(df.values)

## Step 3: Create Sequences for Time-Series Forecasting

In [98]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Step 2: Create sequences from the scaled data
def create_sequences(data, time_steps=10):
    X, y = [], []
    for i in range(len(data) - time_steps):
        X.append(data[i:i + time_steps])  # Sequence of features
        y.append(data[i + time_steps, 0])  # Predict the next value for the first feature
    return np.array(X), np.array(y)

# Apply preprocessing and sequence creation
data_scaled, scaler = preprocess_data(df.values)
X, y = create_sequences(data_scaled, time_steps=10)

# Step 3: Split into train and test
train_size = int(len(X) * 0.8)
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

# Ensure y_train and y_test are 2D arrays
y_train = y_train.reshape(-1, 1)
y_test = y_test.reshape(-1, 1)

# Check the shapes
print(f"X_train shape: {X_train.shape}, y_train shape: {y_train.shape}")
print(f"X_test shape: {X_test.shape}, y_test shape: {y_test.shape}")

X_train shape: (27408, 10, 621), y_train shape: (27408, 1)
X_test shape: (6852, 10, 621), y_test shape: (6852, 1)

## Step 4: Save the Preprocessed Data (Pickle)

In [99]:
joblib.dump((X, y), 'preprocessed_data.pkl')

['preprocessed_data.pkl']

In [100]:
import kfp

print(kfp.__version__)

2.9.0

## Step 5: Building LSTM & GRU

### Step 5.1: LSTM Model Architecture
##### Just for reference. Model being built in `train_LSTM.py`

In [49]:
def build_lstm_model(input_shape):
    model = Sequential()
    model.add(LSTM(64, input_shape=input_shape, return_sequences=True))
    model.add(LSTM(32))
    model.add(Dense(y_train.shape[1]))  
    model.compile(optimizer='adam', loss='mse', metrics=['mae'])
    return model

### Step 5.1: GRU Model Architecture
##### Just for reference. Model being built in `train_GRU.py`

In [50]:
def build_gru_model(input_shape):
    model = Sequential()
    model.add(GRU(64, input_shape=input_shape, return_sequences=True))
    model.add(GRU(32))
    model.add(Dense(y_train.shape[1]))  
    model.compile(optimizer='adam', loss='mse', metrics=['mae'])
    return model

## Step 6: Train LSTM & GRU

The LSTM and GRU models are trained using Kubeflow, and the metrics (MAE, MSE) are logged. 
Training is executed via two scripts:
- `train_LSTM.py` for LSTM model training.
- `train_GRU.py` for GRU model training.

The Kubeflow pipeline executes these scripts and tracks the results.

## Step: 7: Results from MLFlow

In [9]:
import matplotlib.pyplot as plt
from fpdf import FPDF

# Model metrics data
models = ['LSTM', 'GRU']
mae = [0.04076196786669234, 0.044035248215287405]
mse = [0.009582408772798506, 0.010413049428058124]
r2 = [0.9099495235355342, 0.9021435961794378]

# Function to add data labels
def add_data_labels(bars):
    for bar in bars:
        plt.text(
            bar.get_x() + bar.get_width() / 2,
            bar.get_height(),
            f'{bar.get_height():.4f}',
            ha='center',
            va='bottom'
        )

# Plotting MAE comparison
plt.figure(figsize=(8, 6))
bars = plt.bar(models, mae)
add_data_labels(bars)
plt.title('Model Comparison: Mean Absolute Error (MAE)')
plt.xlabel('Models')
plt.ylabel('MAE')
plt.grid(axis='y')
plt.tight_layout()
plt.savefig('mae_comparison.png')
plt.close()

# Plotting MSE comparison
plt.figure(figsize=(8, 6))
bars = plt.bar(models, mse)
add_data_labels(bars)
plt.title('Model Comparison: Mean Squared Error (MSE)')
plt.xlabel('Models')
plt.ylabel('MSE')
plt.grid(axis='y')
plt.tight_layout()
plt.savefig('mse_comparison.png')
plt.close()

# Plotting R² comparison
plt.figure(figsize=(8, 6))
bars = plt.bar(models, r2)
add_data_labels(bars)
plt.title('Model Comparison: R² Score')
plt.xlabel('Models')
plt.ylabel('R² Score')
plt.grid(axis='y')
plt.tight_layout()
plt.savefig('r2_comparison.png')
plt.close()

# Creating the PDF report
pdf = FPDF()
pdf.add_page()
pdf.set_font("Arial", size=12)
pdf.cell(200, 10, txt="Model Comparison Report", ln=True, align="C")
pdf.cell(200, 10, txt="LSTM vs GRU Model Performance", ln=True, align="C")

# Adding MAE visualization to PDF
pdf.image('mae_comparison.png', x=10, y=30, w=180)
pdf.add_page()

# Adding MSE visualization to PDF
pdf.image('mse_comparison.png', x=10, y=10, w=180)
pdf.add_page()

# Adding R² visualization to PDF
pdf.image('r2_comparison.png', x=10, y=10, w=180)

# Save the report as PDF
pdf_file_path = 'model_comparison_report.pdf'
pdf.output(pdf_file_path)

print(f"PDF report saved as {pdf_file_path}")

PDF report saved as model_comparison_report.pdf

## Postman Test: Output JSON

In [2]:
import h5py
import json
import numpy as np
import pandas as pd

# File path to the HDF5 data
file_path = r'C:\foai\94879-starter-code-Team-Project\metr-la.h5'

# Load the data using h5py
with h5py.File(file_path, 'r') as file:
    # Access the 'df' group and extract the 'block0_values' dataset
    df_group = file['df']
    data = df_group['block0_values'][:]

# Ensure that data has the necessary structure
# Extract the first 100 rows with 207 features
extracted_data = data[:100, :207]

# Convert the data into a format suitable for JSON
json_ready_data = {
    "input": extracted_data.tolist()
}

# Save the JSON data to a file for easy use in Postman
output_json_path = 'extracted_data.json'
with open(output_json_path, 'w') as json_file:
    json.dump(json_ready_data, json_file, indent=4)

print(f"Data successfully extracted and saved to {output_json_path}.")

Data successfully extracted and saved to extracted_data.json.

## Step 8: LSTM
##### Currently set in _1.py

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import mlflow
import mlflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, GRU, Dense
import logging
import h5py
import tensorflow as tf

# Step 1: Set up logging to a file (train.log)
logging.basicConfig(filename='train.log', level=logging.INFO, format='%(asctime)s - %(message)s')

# Step 2: Load and preprocess the dataset
def load_data():
    with h5py.File(r'C:\foai\94879-starter-code-Team-Project\metr-la.h5', 'r') as f:
        df_group = f['df']
        
        # Load the column names (features) from 'block0_items'
        columns = list(df_group['block0_items'][:].astype(str))
        
        # Load the actual data from 'block0_values'
        data = df_group['block0_values'][:]
        
        # Convert the data into a DataFrame
        df = pd.DataFrame(data, columns=columns)
        
        return df

def preprocess_data(data):
    # Use MinMaxScaler to normalize the data
    scaler = MinMaxScaler()
    data_scaled = scaler.fit_transform(data)
    return data_scaled, scaler

# Step 3: Create sequences for time-series forecasting with 12 time steps for both training and prediction
def create_sequences(data, time_steps=12):
    X, y = [], []
    for i in range(len(data) - time_steps):
        X.append(data[i:i + time_steps])  # Sequence of features for input
        y.append(data[i + time_steps, 0])  # Predict the next value for the first feature
    return np.array(X), np.array(y)

# Step 4: Define the LSTM and GRU models with 12 units in the output layer for predicting 12 steps
def build_lstm_model(input_shape):
    model = Sequential()
    model.add(LSTM(64, input_shape=input_shape, return_sequences=True))
    model.add(LSTM(32))
    model.add(Dense(1))  # Single unit as we predict only the next time step
    model.compile(optimizer='adam',
                  loss=tf.keras.losses.MeanSquaredError(),
                  metrics=[tf.keras.metrics.MeanAbsoluteError()])
    return model

def build_gru_model(input_shape):
    model = Sequential()
    model.add(GRU(64, input_shape=input_shape, return_sequences=True))
    model.add(GRU(32))
    model.add(Dense(1))  # Single unit as we predict only the next time step
    model.compile(optimizer='adam',
                  loss=tf.keras.losses.MeanSquaredError(),
                  metrics=[tf.keras.metrics.MeanAbsoluteError()])
    return model

# Step 5: Train and evaluate the model, and log to MLflow
def train_and_evaluate(model_type="LSTM"):
    # Load and preprocess the data
    data = load_data()
    data_scaled, scaler = preprocess_data(data)

    # Create sequences with 12 time steps for both training and prediction
    X, y = create_sequences(data_scaled, time_steps=12)

    # Split the data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Check the number of features in the dataset
    num_features = X_train.shape[2] if len(X_train.shape) > 2 else 1

    # Reshape the data to (samples, time_steps, num_features)
    X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], num_features))
    X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], num_features))
    
    input_shape = (X_train.shape[1], X_train.shape[2])

    # Start an MLflow run
    with mlflow.start_run():
        # Select and build the model
        if model_type == "LSTM":
            model = build_lstm_model(input_shape)
            logging.info(f"Building LSTM model with input shape {input_shape}")
        elif model_type == "GRU":
            model = build_gru_model(input_shape)
            logging.info(f"Building GRU model with input shape {input_shape}")

        # Log the model type as a parameter
        mlflow.log_param("model_type", model_type)
        logging.info(f"Starting training for {model_type} model...")

        # Train the model
        history = model.fit(X_train, y_train, epochs=5, batch_size=32, validation_split=0.2)

        # Make predictions on training data
        y_pred_train = model.predict(X_train)

        # Make predictions on test data
        y_pred_test = model.predict(X_test)

        # Calculate metrics for test data
        mae_test = mean_absolute_error(y_test, y_pred_test)
        mse_test = mean_squared_error(y_test, y_pred_test)
        r2_test = r2_score(y_test, y_pred_test)

        # Log metrics
        mlflow.log_metric("mae_test", mae_test)
        mlflow.log_metric("mse_test", mse_test)
        mlflow.log_metric("r2_score_test", r2_test)

        logging.info(f"Test metrics - MAE: {mae_test}, MSE: {mse_test}, R2: {r2_test}")

        # Save training and test data, including predictions
        np.save('X_train.npy', X_train)
        np.save('y_train.npy', y_train)
        np.save('y_pred_train.npy', y_pred_train)  # Save training predictions
        np.save('X_test.npy', X_test)
        np.save('y_test.npy', y_test)
        np.save(f'y_pred_test_{model_type}.npy', y_pred_test)  # Save test predictions

        # Log the trained model to MLflow
        mlflow.keras.log_model(model, "traffic_prediction_model")

        # Save the model locally as 'lstm_model.h5'
        model.save(f'{model_type.lower()}_model.h5')

        # Upload the train.log file as an artifact
        mlflow.log_artifact("train.log")

        logging.info(f"{model_type} Model training complete. Test MAE: {mae_test}, MSE: {mse_test}, R2 Score: {r2_test}")

if __name__ == "__main__":
    # Example of running the training for LSTM
    train_and_evaluate(model_type="LSTM")

c:\Users\16318\anaconda3\envs\opAI_VM\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 13s 14ms/step - loss: 0.0429 - mean_absolute_error: 0.1204 - val_loss: 0.0144 - val_mean_absolute_error: 0.0686
Epoch 2/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 9s 12ms/step - loss: 0.0132 - mean_absolute_error: 0.0621 - val_loss: 0.0123 - val_mean_absolute_error: 0.0526
Epoch 3/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 9s 13ms/step - loss: 0.0110 - mean_absolute_error: 0.0532 - val_loss: 0.0107 - val_mean_absolute_error: 0.0605
Epoch 4/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 11s 16ms/step - loss: 0.0101 - mean_absolute_error: 0.0502 - val_loss: 0.0098 - val_mean_absolute_error: 0.0580
Epoch 5/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 24s 35ms/step - loss: 0.0100 - mean_absolute_error: 0.0507 - val_loss: 0.0101 - val_mean_absolute_error: 0.0515
857/857 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step
215/215 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step

2024/10/10 16:03:24 WARNING mlflow.keras.save: You are saving a Keras model without specifying model signature.
2024/10/10 16:03:39 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

## Step 8: GRU
##### For this to work in _1.py you need to swith LSTM with GRU

In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import mlflow
import mlflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, GRU, Dense
import logging
import h5py
import tensorflow as tf

# Step 1: Set up logging to a file (train.log)
logging.basicConfig(filename='train.log', level=logging.INFO, format='%(asctime)s - %(message)s')

# Step 2: Load and preprocess the dataset
def load_data():
    with h5py.File(r'C:\foai\94879-starter-code-Team-Project\metr-la.h5', 'r') as f:
        df_group = f['df']
        
        # Load the column names (features) from 'block0_items'
        columns = list(df_group['block0_items'][:].astype(str))
        
        # Load the actual data from 'block0_values'
        data = df_group['block0_values'][:]
        
        # Convert the data into a DataFrame
        df = pd.DataFrame(data, columns=columns)
        
        return df

def preprocess_data(data):
    # Use MinMaxScaler to normalize the data
    scaler = MinMaxScaler()
    data_scaled = scaler.fit_transform(data)
    return data_scaled, scaler

# Step 3: Create sequences for time-series forecasting with 12 time steps for both training and prediction
def create_sequences(data, time_steps=12):
    X, y = [], []
    for i in range(len(data) - time_steps):
        X.append(data[i:i + time_steps])  # Sequence of features for input
        y.append(data[i + time_steps, 0])  # Predict the next value for the first feature
    return np.array(X), np.array(y)

# Step 4: Define the LSTM and GRU models with 12 units in the output layer for predicting 12 steps
def build_lstm_model(input_shape):
    model = Sequential()
    model.add(LSTM(64, input_shape=input_shape, return_sequences=True))
    model.add(LSTM(32))
    model.add(Dense(1))  # Single unit as we predict only the next time step
    model.compile(optimizer='adam',
                  loss=tf.keras.losses.MeanSquaredError(),
                  metrics=[tf.keras.metrics.MeanAbsoluteError()])
    return model

def build_gru_model(input_shape):
    model = Sequential()
    model.add(GRU(64, input_shape=input_shape, return_sequences=True))
    model.add(GRU(32))
    model.add(Dense(1))  # Single unit as we predict only the next time step
    model.compile(optimizer='adam',
                  loss=tf.keras.losses.MeanSquaredError(),
                  metrics=[tf.keras.metrics.MeanAbsoluteError()])
    return model

# Step 5: Train and evaluate the model, and log to MLflow
def train_and_evaluate(model_type="GRU"):
    # Load and preprocess the data
    data = load_data()
    data_scaled, scaler = preprocess_data(data)

    # Create sequences with 12 time steps for both training and prediction
    X, y = create_sequences(data_scaled, time_steps=12)

    # Split the data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Check the number of features in the dataset
    num_features = X_train.shape[2] if len(X_train.shape) > 2 else 1

    # Reshape the data to (samples, time_steps, num_features)
    X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], num_features))
    X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], num_features))
    
    input_shape = (X_train.shape[1], X_train.shape[2])

    # Start an MLflow run
    with mlflow.start_run():
        # Select and build the model
        if model_type == "LSTM":
            model = build_lstm_model(input_shape)
            logging.info(f"Building LSTM model with input shape {input_shape}")
        elif model_type == "GRU":
            model = build_gru_model(input_shape)
            logging.info(f"Building GRU model with input shape {input_shape}")

        # Log the model type as a parameter
        mlflow.log_param("model_type", model_type)
        logging.info(f"Starting training for {model_type} model...")

        # Train the model
        history = model.fit(X_train, y_train, epochs=5, batch_size=32, validation_split=0.2)

        # Make predictions on training data
        y_pred_train = model.predict(X_train)

        # Make predictions on test data
        y_pred_test = model.predict(X_test)

        # Calculate metrics for test data
        mae_test = mean_absolute_error(y_test, y_pred_test)
        mse_test = mean_squared_error(y_test, y_pred_test)
        r2_test = r2_score(y_test, y_pred_test)

        # Log metrics
        mlflow.log_metric("mae_test", mae_test)
        mlflow.log_metric("mse_test", mse_test)
        mlflow.log_metric("r2_score_test", r2_test)

        logging.info(f"Test metrics - MAE: {mae_test}, MSE: {mse_test}, R2: {r2_test}")

        # Save training and test data, including predictions
        np.save('X_train.npy', X_train)
        np.save('y_train.npy', y_train)
        np.save(f'y_pred_train_{model_type}.npy', y_pred_train)  # Save training predictions
        np.save('X_test.npy', X_test)
        np.save('y_test.npy', y_test)
        np.save(f'y_pred_test_{model_type}.npy', y_pred_test)  # Save test predictions

        # Log the trained model to MLflow
        mlflow.keras.log_model(model, "traffic_prediction_model")

        # Save the model locally as 'lstm_model.h5'
        model.save(f'{model_type.lower()}_model.h5')

        # Upload the train.log file as an artifact
        mlflow.log_artifact("train.log")

        logging.info(f"{model_type} Model training complete. Test MAE: {mae_test}, MSE: {mse_test}, R2 Score: {r2_test}")

if __name__ == "__main__":
    # Example of running the training for LSTM
    train_and_evaluate(model_type="GRU")

c:\Users\16318\anaconda3\envs\opAI_VM\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 30s 31ms/step - loss: 0.0608 - mean_absolute_error: 0.1424 - val_loss: 0.0110 - val_mean_absolute_error: 0.0532
Epoch 2/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 22s 32ms/step - loss: 0.0114 - mean_absolute_error: 0.0580 - val_loss: 0.0104 - val_mean_absolute_error: 0.0502
Epoch 3/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 22s 32ms/step - loss: 0.0099 - mean_absolute_error: 0.0526 - val_loss: 0.0093 - val_mean_absolute_error: 0.0451
Epoch 4/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 20s 29ms/step - loss: 0.0099 - mean_absolute_error: 0.0505 - val_loss: 0.0101 - val_mean_absolute_error: 0.0582
Epoch 5/5
686/686 ━━━━━━━━━━━━━━━━━━━━ 20s 28ms/step - loss: 0.0099 - mean_absolute_error: 0.0496 - val_loss: 0.0093 - val_mean_absolute_error: 0.0425
857/857 ━━━━━━━━━━━━━━━━━━━━ 10s 11ms/step
215/215 ━━━━━━━━━━━━━━━━━━━━ 3s 15ms/step

2024/10/10 19:18:23 WARNING mlflow.keras.save: You are saving a Keras model without specifying model signature.
2024/10/10 19:18:46 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.